<mat-card fxFlexFill fxLayout="column">
  <mat-card-title>Last blocks</mat-card-title>
  <ng-container [ngSuspense]="lastBlocksHeaders$">
    <app-http-error *ngSuspenseError="let error" [error]="error"></app-http-error>
    <app-loading-spinner *ngSuspensePlaceholder="300"></app-loading-spinner>
    <app-data-card-content fxFlex="1 1 auto">
      <app-blocks-table *ngSuspenseSuccess="let blocks" [blocks]="blocks"></app-blocks-table>
    </app-data-card-content>
  </ng-container>
  <mat-card-actions>
    <div fxLayout="row" fxLayoutAlign="end center">
      <a mat-button color="primary" routerLink="/blocks"><span>All blocks</span>
        <mat-icon>chevron_right</mat-icon>
      </a>
    </div>
  </mat-card-actions>
</mat-card>
